bliss_for_isis/
examples/
paper/
*.egg-info/
*.egg-info/

# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints/

# Python packaging
*.egg-info/
build/
dist/

# Ignore everything inside notebooks by default
notebooks/*

# But keep notebook files and data files directly inside notebooks/
!notebooks/*.ipynb
!notebooks/*.dat
results/
notebooks/results_xte_1855-026/
.DS_Store
__pycache__/
*.pyc
.virtual_documents/
